{
  "rules": {
    "no-undef": 2,
    "no-unused-vars": 2,
    "comma-dangle": [2,"always"],
    "no-cond-assign": [2,"except-parens"],
    "no-console": 1,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-extra-semi": 2,
    "no-invalid-regexp": 2,
    "valid-typeof": 2
  }
}