.idea
node_modules

public
!public/index.html


!_native/phonegap/www/
_native/phonegap/www/*
!_native/phonegap/www/res/
!_native/phonegap/config.xml

_native/electron/www/*
!_native/electron/www/icon.png
_native/electron/Travel-Note*

tests/e2e/screenshots

*.log

.vscode
