.user-profile-header
    position relative

    .user-profile-edit
        position absolute
        right 16px
        top 50%
        margin-top -20px

.image-developer
    width 80%
    padding-bottom 80%
    margin 1em auto
    overflow hidden
    position relative
    transform translate3d(0, 0, 0);


    &.clickable
        cursor: pointer;

    .edit
        position absolute
        bottom 8px
        z-index 10
        width 100%
        font-weight bold
        color #fff
        background #00bcd4
        opacity .8
        text-align center


    img
        position absolute
        width auto
        height 100%
        min-width 100%
        min-height 100%

    .developer-info
        text-align center

    .additional-developer-info
        font-size 32px
        a
            padding 3px
            color #ccc
            &:hover
                padding 3px
                color #323232
