.landing
    text-align center
    img
        width 100%
        opacity .5

    .main-block
        display inline-block
        margin 0 auto

        .primary
            text-align right

        .secondary
            & + .primary
                text-align left

        & > *
            display inline-block
            vertical-align top



