doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='keywords', content='')
        meta(name='description', content='')
        title EMP
        link(rel='shortcut icon', href='assets/favicon.ico')
        link(rel='stylesheet', href='styles.css')
        include ga
    body(data-version=version)
        <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        block content
