i.fa-trash
    position absolute
    top 0
    right 0
    padding 5px
    background rgba(255,255,255,.8)
    color #00bcd4
    margin 5px
    cursor pointer
    &:hover {
        color #000
        background #fff
    }
