.landing-page
    margin 0 -.5em

    h2
        text-align center
    .page
        padding 160px 0 160px
        overflow hidden

        .icon
            font-size 60px
            text-align center
            color #00bcd4
        .text
            max-width 300px
            font-size 19px
            margin 0 auto

.map-page
    background #00bcd4
    padding 50px 10px
    min-height 300px
    position relative
    color #fff

    img
        border 10px solid #fff
        border-radius 10px
        max-width 400px
        position absolute
        left 50%
        transform translate(-50%, 0)

.header-section
    color #fff
    padding 40px
    background #00bcd4
    min-height 470px
    position relative

    h1
        margin 0

    img
        position absolute
        bottom -100px;
        max-width 100%
        left 50%
        transform translate(-50%, 0)

    header
        margin 0 auto
        text-align center

        h1
            font-size 42px

        p
            font-size 20px
            position relative

