.stepper-bar
    overflow auto

.step-content
    margin-bottom 15px

    .step-actions
        text-align center
        margin-top 15px

    p
        margin 0
        line-height 1.5
        color #949494
        font-size 14px

.required-text
    .asteriks
        color red
        margin-right 10px
