.gm-style-iw
    top 0 !important
    left 0 !important
    width 100% !important
    & > div
        max-width none !important
        width 100%

.gm-style-iw > div > div, .map-info-card
    width 100%

.map
    width 100%
    min-height 300px

    &.embedded {
        height 300px
    }

    &.fullscreen
           position absolute !important
           top 64px
           bottom 49px
