.footer
    position absolute
    bottom 0
    width 100%
    background grey
    padding 20px
    display flex
    justify-content space-between

.logoColumn
    padding-right 20px
    font-size 25px
    color #fff
    opacity .5
    align-self center

.footer-menu
    display flex
    color #fff
    ul
        padding 0
        list-style none
        margin-bottom 0

    strong
        opacity .5
    a
        color #fff
        text-decoration none
        line-height 1.5
        font-size 14px

.footer-menu-item
    padding 0 20px

