*
    box-sizing border-box
    -moz-box-sizing border-box

body
    margin 0

html, body, #app
    height 100%

#app
    padding 64px 0 49px
    position relative

.header
    position fixed
    top 0
    left 0
    width 100%

.footer
    position absolute
    width 100%
    bottom 0

.spinner
    font-size 75px
    width 100%
    text-align: center;
    .fa
        margin 0 auto
        padding 50px
        color #00bcd4

