.note-photo, .note-map
    margin-bottom 10px;


.note-photo img
    width 100%;

.note-header
    height 300px
    position relative
    overflow hidden
    margin-bottom 20px
    img
        position absolute
        top 0
        left 0
        width 100%
        min-height 300px
    .titles
        position relative
        margin-top 40px
        display inline-block
        background rgba(0, 188, 212, 0.78)
        padding 10px 50px 10px 10px
        *
            padding 5px
            font-size 1.5em
            color #fff
            margin 0


.note-entity
    padding-bottom 25px
    margin-bottom 25px
    position relative
    line-height 1.5
    &:after
        content ''
        position absolute
        bottom 0
        width 50%
        left 25%
        display block
        border-bottom 1px solid #ccc


.addNote
    .drop-zone
        min-height 317px;
        img
            height 228px;
            margin 10px auto 0;
            display block

.sign {
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
    color: #ccc;
}

.required-text
    .asteriks
        color red
        margin-right 10px
