.note-photo, .note-map
    margin-bottom 10px;


.note-photo img
    width 100%;

.addNote
    .drop-zone
        min-height 300px;
        img
            height 228px;
            margin 10px auto 0;
            display block

