.note-photo, .note-map
    margin-bottom 10px;


.note-photo img
    width 100%;

.note-header
    height 300px
    position relative
    overflow hidden
    margin-bottom 20px
    img
        width 100%
        min-height 300px
    .titles
        position absolute
        top 40px
        left 0
        display inline-block
        background rgba(0, 188, 212, 0.78)
        padding 10px 50px 10px 10px
        *
            padding 5px
            font-size 1.5em
            color #fff
            margin 0


.note-entity
    padding-bottom 25px
    margin-bottom 25px
    position relative
    line-height 1.5
    &:after
        content ''
        position absolute
        bottom 0
        width 50%
        left 25%
        display block
        border-bottom 1px solid #ccc


.addNote
    .drop-zone
        min-height 317px;
        img
            height 228px;
            margin 10px auto 0;
            display block

.sign {
    text-align: right;
    text-transform: capitalize;
    font-style: italic;
    color: #ccc;
}

.required-text
    .asteriks
        color red
        margin-right 10px

.note-background
    position relative
    overflow hidden
    min-height 100%
    width 100%

    .header-image
        height 150px
        overflow hidden

        img
            width: 100%;

.note-background-image
    -webkit-filter contrast(1.2) saturate(1.35)
    filter contrast(1.2) saturate(1.35)
    position absolute
    top 0
    left 0
    min-width 100%
    min-height 100%
    z-index -1


.note-container
    margin 20px auto

.note-text
    font-size 16px
    line-height 1.5
    margin 15px 0 0

.drop-zone-sq {
    position: absolute;
    border: 5px dotted #ccc;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 35px;
}


.gallery-item .drop-zone-sq img {
    max-width: 100%;
    position: relative;
}

.submit-drop {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: #00bcd4;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
