.user-detailed-blocks
    max-width 800px
    width 90%
    margin 0 auto 20px !important

    .fa-trash
        font-size 18px
        line-height 24px
        color #ff4081
        text-align center
        &:hover
            opacity .7
            font-size 24px


.header-profile
    width 100%
    min-height 200px
    .actions
        position absolute
        right -20px
        top 50%
        width 40px
        transform translate(0, -50%)

    h1
        text-align center
        background #00bcd4
        margin 0
        padding 0 20px 110px
        color #fff
    .user-card
        max-width 800px
        margin -80px auto 20px
        width 90%
        position relative
    .user-bg
        height 140px
        width 100%
        background-size cover
    .avatar
        position absolute
        top 140px
        left 50%
        margin -62px 0 0 -62px
        width 124px
        height 124px
        border-radius 50%
        border 5px solid #fff
        overflow hidden
        img
            width 100%
            min-height 100%
    .user-details
        padding-top 80px
    p
        padding 20px
        margin 0
        line-height 1.4
        font-size 14px
        color #979797

.edit-mode-active .user-bg,
.edit-mode-active .avatar
    overflow hidden
    border 5px dashed  #ff4081

.edit-mode-active
    .control-wrapper
        padding 0 20px

    .editable-text-field
        padding 0 20px


