.image-developer
    width 80%
    padding-bottom 80%
    margin 1em auto
    overflow hidden
    position relative
    img
        position absolute
        width auto
        min-width 100%
        min-height 100%

.developer-info
    text-align center

.additional-developer-info
    font-size 32px
    a
        padding 3px
        color #ccc
        &:hover
            padding 3px
            color #323232


